#!/usr/bin/make -f

srctree ?= .

build-indep:
build-arch:
	$(MAKE) -j 16 ARCH=arm64 KBUILD_BUILD_VERSION=1 LOCALVERSION=-k3-var1+d22356968f7a84d7d61b36958a18d95f33adc58d-1 -f $(srctree)/Makefile am62x_var_defconfig
	$(MAKE) -j 16 ARCH=arm64 KBUILD_BUILD_VERSION=1 LOCALVERSION=-k3-var1+d22356968f7a84d7d61b36958a18d95f33adc58d-1 -f $(srctree)/Makefile
	$(MAKE) -j 16 ARCH=arm64 KBUILD_BUILD_VERSION=1 LOCALVERSION=-k3-var1+d22356968f7a84d7d61b36958a18d95f33adc58d-1 -C $(srctree)/tools/spi/

build: build-arch

binary-indep:
binary-arch: build-arch
	$(MAKE) -j 16 ARCH=arm64 KBUILD_BUILD_VERSION=1 LOCALVERSION=-k3-var1+d22356968f7a84d7d61b36958a18d95f33adc58d-1 -f $(srctree)/Makefile intdeb-pkg

clean:
	rm -rf debian/files debian/linux-*
	$(MAKE) clean

binary: binary-arch
